.Form{
    background-color: rgb(88, 110, 130);
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    box-shadow: 5px 5px 15px blue inset;
}
.Form-head{
    margin: auto;
    margin-right: 20px;
}
.Form-input{
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}
.Form-submit{
    margin: auto;
    margin-left: 20px;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}