:root{
    --form:rgb(144, 0, 255);
}
.Form{
    background-color: var(--inset);
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px var(--shade);
    box-shadow: 5px 5px 15px var(--form) inset;
}
.Form-head{
    margin: auto;
    margin-right: 20px;
    color: var(--form);
}
.Form-input{
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--form);
    color: aliceblue;
    border-radius: 5px;
    text-align: center;
}
.Form-input::placeholder{
    color: black;
}
.Form-submit{
    margin: auto;
    margin-left: 20px;
    background-color: var(--form);
    color: aliceblue;
    border-radius: 10px;
}