.List {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 80vw;
  border-radius: 10px;
  margin-top: 10px;
}
.List-edit {
  background-color: var(--form);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: solid 1px var(--shade);
  margin: auto;
  width: 60px;
  box-shadow: 0px 0px 15px 5px var(--form);
  cursor:pointer;
  transition: all 0.3s;
}
.List-edit:hover {
  border: solid 2px black;
  background-color: rgb(182, 104, 255);
}
.List > li:first-child  > div{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.List > li:first-child  > div > .Delete{
  border-top-right-radius: 10px;
}

.List > li:last-child  > div{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.List > li:last-child  > div > .Delete{
  border-bottom-right-radius: 10px;
}

