.Item {
  margin: 0;
  padding: 0;
  border: solid black 1px;
  display: flex;
  justify-content: space-between;
}
.complete {
  background: linear-gradient(to right, #28a745, #007bff);
  color: white;
}
.incomplete {
  background: linear-gradient(to right, #283da7, #8800ff);
  color: rgb(255, 255, 255);
}
