.Footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--inset);
    height: 70px;
    padding: 20px;
    color: var(--app-head);
    width: 90%;
    border-top-right-radius: 100px;
    margin: auto;
    margin-left: 0;
    margin-bottom: 0px;
    margin-top: auto;
    flex-shrink: 0;
    box-shadow: -5px 5px 15px var(--app-head) inset;
    text-shadow: 5px -5px 15px var(--app-head);
    border-top: solid var(--shade);
    border-right: solid var(--shade);
}
.Footer-link{
    text-decoration: none;
    color: aquamarine;
    background-color: rgb(36, 71, 102);
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}
.Footer-link:hover {
    background-color: rgb(64, 83, 100);
}